div.image-block
  img(src="/img/computerhand.jpg" class="image")
  img(src="/img/computerhead.jpg" class="image")
  img(src="/img/computerpen.jpg" class="image")
  img(src="/img/computerdog.jpg" class="image")