@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

$themeFontColor: #333131;
$themeBackground: #fcfcfc;
$themeAccentColor: #307b8c;
$themeTeal: #9ac4cb;
$themeBorderColor: #ccc;
