@import "../../style/variables.scss";

.writing-center {
  img {
    @media only screen and (max-width: 767px) {
      width: 100%;
    }

    @media only screen and (min-width: 1025px) {
      width: 100%;
    }
  }

  a {
    color: $themeAccentColor;

    &:hover {
      color: darken($themeAccentColor, 20%);
    }
  }
}
