div.footer
    p I am committed to making this site as accessible as possible. 
    p If you need the content delivered in a different format, please contact me at: emc15j@my.fsu.edu
    p © 2017 Alexander Lemkin