div.site-header
  div.site-header-title Ellen Cecil-Lemkin

  div.site-header-links
    a.site-header-link(href="#") home
    a.site-header-link(href="#") bio
    a.site-header-link(href="#") cv
    a.site-header-link(href="#") scholarship
    a.site-header-link(href="#") teaching
