@import "../../style/variables.scss";

.teaching-sub-menu-links {
  .sub-link {
    display: inline-block;
    text-decoration: underline;

    &.selected {
      color: $themeAccentColor;
    }

    @media only screen and (max-width: 767px) {
      display: block;
    }

    @media only screen and (min-width: 768px) {
      margin-right: 3rem;
    }

    .title {
      font-size: 20px;
    }
  }
}
