@import "../../style/variables.scss";

.ellen-main {
  background: $themeBackground;

  .page-wrapper {
    h1,
    h2,
    h6 {
      color: $themeAccentColor;
    }

    img {
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
    }
  }

  .header-area {
    background-color: $themeTeal;
  }
}

body {
  background: $themeBackground;
  color: $themeFontColor;
  font-family: 'Lato', sans-serif;

  a {
    text-decoration: none;
    color: $themeFontColor;

    &:hover {
      text-decoration: none;
      color: $themeAccentColor;
      cursor: pointer;
    }
  }
}
